body {
	background: url(../src/bg.png) repeat;
	font-family: Geneva,Arial,Helvetica,sans-serif;
}
/*左侧导航栏start*/
.nav {
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #1e7de8;
}
.nav h1 {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background-color: #164784;
}
#preview {
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #f7ae12;
	border: 1px solid #f7ae12;
	border-radius: 5px;
	position: absolute;
	bottom: 30px;
	margin-left: 60px;
}
#add-album {
	width: 70%;
	height: 36px;
	margin: 40px 30px;
	background-color: #f7ae12;
	text-align: center;
	color: #fff;
	outline: none;
	border: 1px solid #f7ae12;
	border-radius: 5px;
	cursor: pointer;
}
#add-box {
	position: relative;
	display: none;
	width: 198px;
	height: 210px;
	top: 30px;
	border: 1px solid #b3a5b9;
	border-radius: 5px;
	background-color: #5192db;
}
.add-in {
	width: 198px;
	height: 40px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	color: #e6e6e6;
	margin-bottom: 10px;
}
#add-head {
	height: 30px;
	color: #e6e6e6;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#add-box input {
	width: 166px;
	height: 40px;
	border: none;
	background-color: #fff;
	padding-left: 30px;
	border: 1px solid #fff;
	margin-bottom: 5px;
}
#new-pwd {
	display: none;
}
#add-box a {
	display: none;
	color: red;
	margin-left: 10px;
}
#add-box #com-btn {
	position: absolute;
	width: 60px;
	height: 26px;
	right: 10px;
	bottom: 6px;
	padding: 3px;
	text-align: center;
	border: 1px solid #fff;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
#add-box #cancel-btn {
	position: absolute;
	width: 60px;
	height: 26px;
	right: 90px;
	bottom: 6px;
	padding: 3px;
	text-align: center;
	border: 1px solid #fff;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
#albums {
	margin-top: 50px;
}
#albums li {
	position: relative;
	height: 36px;
	padding: 3px 0 3px 36px;
	margin-top: 3px;
	color: #e6e6e6;
	font-size: 14px;
	line-height: 36px;
	background-color: #5192db;
	cursor: pointer;
}
#albums .album_bg {
	background-color: #3fedf8;
	color: #56937e;
}
#albums .active {
	background-color: #63baf2;
	border-left: 5px solid #f7ae12;
}
.edit-btn,.del-btn {
	display: none;
}
.active .edit-btn {
	position: absolute;
	right: 40px;
	top: 12px;
	width: 20px;
}
.active .del-btn {
	position: absolute;
	right: 10px;
	top: 12px;
	width: 20px;
}
/*左侧导航栏end*/
/*右侧内容区start*/
.content {
	margin-left: 200px;
	padding: 20px;
}
#up-img {
	position: relative;
	height: 80px;
	display: none;
}
#up-btn {
	position: absolute;
	top: 20px;
	right: 40px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: #f7ae12; 
	text-align: center;
	text-decoration: none;
	color: #fff;
	outline: none;
	border: 1px solid #f7ae12;
	border-radius: 5px;
	cursor: pointer;
}
#img-show {
	text-align: center;
}
.img-box {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	text-align: justify;
}
.img-box img {
	width: 95%;
	height: 166px;
	display: block;
	margin: 5px auto;
}
.item-name {
	display: inline-block;
	margin-left: 7.5px;
	width: 100px;
	overflow: hidden;
} 
.img-box .edit-items {
	margin: 0;
	position: absolute;
	right: 7.5px;
	bottom: 3px;
	width: 30px;
	height: 15px;
	cursor: pointer;
}
/*图片操作start*/
#img-deal {
	width: 130px;
	height: 90px;
	display: none;
	background-color: #63baf2;
	z-index: 1;
	position: absolute;
	left: 162px;
	top: 174px;
	padding-top: 10px;
	text-align: center;
}
#img-deal li {
	height: 23px;
	cursor: pointer;
	padding-left: 20px;
	margin: 4px 0;
}
#img-deal .active {
	background-color: #3fedf8;
	border-left: 3px solid #f7ae12;
}
#img-edit {
	background: url(../src/mini_pen.png) 36px center no-repeat;
}
#img-move {
	background: url(../src/move.png) 36px center no-repeat;
}
#img-del {
	background: url(../src/mini_del.png) 36px center no-repeat;
}
/*图片操作end*/
#del-div {
	animation: myfirst 1s linear forwards;
	/* Firefox: */
	-moz-animation: myfirst 1s linear forwards;
	/* Safari 和 Chrome: */
	-webkit-animation: myfirst 1s linear forwards;
	/* Opera: */
	-o-animation: myfirst 1s linear forwards;
	position: relative;
	display: none;
	width: 500px;
	height: 200px;
	border: 1px solid #f8f784;
	outline: none;
	border-radius: 10px;
	background-color: #f8f784;
	text-align: center;
	margin-bottom: 30px;
}
@keyframes myfirst
{
	0%   {left:0px; top:0px;}
	25%  {left:70px; top:0px;}
	50%  {left:140px; top:0px;}
	75%  {left:210px; top:0px;}
	100% {left:280px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
	0%   {left:0px; top:0px;}
	25%  {left:60px; top:0px;}
	50%  {left:120px; top:0px;}
	75%  {left:180px; top:0px;}
	100% {left:240px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {left:0px; top:0px;}
	25%  {left:70px; top:0px;}
	50%  {left:140px; top:0px;}
	75%  {left:210px; top:0px;}
	100% {left:280px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
	0%   {left:0px; top:0px;}
	25%  {left:70px; top:0px;}
	50%  {left:140px; top:0px;}
	75%  {left:210px; top:0px;}
	100% {left:280px; top:0px;}
}

.div-head {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #f7ae12;
	margin-bottom: 20px;
}
#del-pwd {
	display: inline-block;
	width: 70%;
	height: 36px;
	padding-left: 30px;
	margin-top: 30px;
	border: 1px solid #fff;
}
#del-cancel {
	position: absolute;
	width: 80px;
	height: 30px;
	right: 130px;
	bottom: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
}
#del-btn {
	position: absolute;
	width: 80px;
	height: 30px;
	right: 30px;
	bottom: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
}
